
/* ======================== 結帳步驟 =========================== */
.checkout .process .step:first-child .text::after{
    background-color: #1E464A;
}

/* 購物車區塊 */
.checkout .cart-items{
    /* border: 1px solid blue; */
    margin-bottom: 4rem;
}

.checkout .order-form{
    /* border: 1px solid red; */
    font-size: 1.4rem;
}

/* .checkout .order-summary{
    border: 1px solid green;
} */

.checkout .process .step{
    /* border: 1px solid blue; */
    width: 30%;
    text-align: center;
}

/* 步驟下方文字 */
.checkout .process .step span{
    /* border: 2px solid red; */
    /* font-size: 1.2rem; */
    font-size: 1.4rem;
    padding: 1.5rem;
    display: block;
}

.checkout .process, .checkout .cart-items, .checkout .order-form, .checkout .order-summary{
    padding: 2rem;
}

/* ========================== 主區塊 ===========================*/
.checkout{
    /* border: 2px solid red; */
    margin-top: 12rem;
}

.checkout .process{
    /* border: 1px solid black; */
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout .process .text{
    color: white;
    /* border: 1px solid red; */
    position: relative;
}

.checkout .process span{
    color: #0D1C32;
}

.checkout .process .step .text::before{
    content: "";
    height: 2px;
    position: absolute;
    top: 50%;
    width: 100%;
    /* transform: translate(-65%, -20%); */
    /* border: 1px solid red; */
    background-color: #699F9C;
    /* border-radius: 50%; */
    z-index: -1;
}
.checkout .process .step:last-child .text::before{
    display: none;
}
.checkout .process .step .text::after{
    content: "";
    width: 3rem;
    height: 3rem;
    position: absolute;
    transform: translate(-60%, -25%);
    /* border: 1px solid red; */
    background-color: #699F9C;
    border-radius: 50%;
    z-index: -1;
}

/** cart-items **/
.cart-items .table{
    border: 1px solid grey;
    border-collapse: collapse;
    table-layout: fixed;
}

.order-form > p, .order-form > form{
    border: 1px solid gray;
    padding: 1rem 1rem;
}
.cart-items th, .cart-items td{
    border-top: 1px solid lightgray;
}

.order-form > p{
    border-bottom: none;
    background-color: #B5D9D5;
    font-size: 1.8rem;
    font-weight: bold;
    height: 5rem;
    padding: 1.5rem 1rem;
}

/* .cart-items th, .cart-items td{
    border-right: none;
} */

.cart-items .table thead tr{
    font-size: 1.4rem;
    /* border: 2px solid red; */
    height: 5rem;
    background: #B5D9D5;
}

.cart-items .table tbody tr{
    font-size: 1.4rem;;
    /* border: 2px solid red; */
    height: 6rem;
}
.cart-items .table thead tr th, .cart-items tbody tr td{
    /* border: 2px solid red; */
    text-align: center;
    vertical-align: middle;
}

.cart-items .table thead tr th{
    /* border: 1px solid red; */
    color:#0D1C32;
    font-size: 1.8rem;
    font-weight: bold;
}

.cart-items .table thead tr th:first-child, .cart-items .table tbody tr td:first-child{
    /* border: 2px solid red; */
    text-align: left;
    vertical-align: middle;
}

.cart-items tbody tr td img, .cart-items .table tbody tr td:first-child{
    width: 10rem;
    /* display: block; */
    vertical-align: middle;
}

.cart-items tbody tr td img{
    background: #dbe5e4;
    margin-right: 2rem;
}


.delete a{
    text-decoration: none;
    color: #0D1C32;
    font-size: 2rem;
    font-weight: bold;
}
.keepshopping a{
    font-size: 1.2rem;
    float: right;
    color: white;
    background: #1E464A;
    margin-right: 5rem;
    padding: 10px 10px;
    text-decoration: none;
    /* border: 1px solid red; */
}

.keepshopping a:hover{
    background: #699F9C;
}

.dropdown-toggle{
    /* border: 2px solid blue; */
    width: 100%;
    text-align: left;
}

.btn-check:active+.btn-outline-secondary, .btn-check:checked+.btn-outline-secondary, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show, .btn-outline-secondary:active {
    color: #fff;
    background-color: #B5D9D5;
    border-color: lightgrey;
}

.btn-outline-secondary:hover {
    color: black;
    background-color: white;
    border-color: lightgrey;
}

/** order-summary **/
.order-summary{
    /* border: 1px solid blue; */
    font-size: 1.4rem;
    padding: 1rem 1rem;
}

.order-summary .order-summary_inner{
    border: 1px solid grey;
}

.order-summary_inner table{
    /* border: 1px solid red; */
    width: 100%;
}

.order-summary_inner > p{
    border-bottom: none;
    background-color: #B5D9D5;
    font-size: 1.8rem;
    font-weight: bold;
    height: 5rem;
    padding: 1.5rem 1rem;
}

.order-summary_inner table tr{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;

}
.order-summary_inner table tr:first-child td{
    /* border: 2px solid blue; */
    margin-top: 0.3rem;;
}

.order-summary_inner table tr:nth-child(2) td{
    /* border-top: 2px solid blue; */
    margin-bottom: 5rem;
}

.order-summary_inner table tr:last-child{
        border-top: 1px solid lightgrey;
        font-weight: bold;
        font-size: 1.6rem;
}

.order-summary_inner table tr:last-child td:last-child{
    color: #DCAE72;
}

.order-summary_inner button{
    width: 98%;
    /* padding: 1rem 1rem; */
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 2%;
    height: 4rem;
    background-color: #1E464A;
    color: #DCAE72;
}