
/* 想說的話 */
.container .saying{
  /* border: 1px solid red; */
  height: 600px;
  background: linear-gradient(white, #B5D9D5);
  padding: 0 2rem;
  margin-top: 6rem;
}

div.saying img, div.saying .saying_info{
  /* border: 6px solid black; */
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem; /* 16px */
}

div.saying .saying_info{
  width: 600px;
  height: 300px;
  background-image: url(../images/wordtosay.jpg);
  background-size: cover;
  background-position: center center;
  margin-top: 18%;
  margin-left: 2%;
}

.saying > img {
  /* border: 1px solid blue; */
  display: inline-block;  
  height: 300px;
  margin-left: 12%;
}

div.saying .saying_info h1{
  font-size: 3rem;
  /* border: 1px solid black; */
  border-left: 10px solid #DCAE72;
  margin: 0;
  padding: 0 10px;
  color: #0D1C32;
  position: absolute;
  right: 47.5rem;
  top: 15rem;
  transform: translateX(-50%);
}

div.saying .saying_info p{
  color: white;
  font-size: 1.4rem;
  line-height: 2.5rem;;
  position: absolute;
  right: 30rem;
  top: 30rem;
}

.container .saying{
  /* border: 1px solid red; */
  height: 600px;
  /* background: linear-gradient(white,); */
  padding: 0 2rem;
  margin-top: 6rem;
}

/* 合作店家 */
.container .stores{
  /* border: 1px solid red; */
  height: 600px;
  background: linear-gradient(#1E464A, white);
  padding: 4rem 2rem;
  /* margin-top: 6rem; */
}
.container .stores img {
  width: 100%;
  height: 210px;
}

div.column_block {
  /* border: 1px solid red; */
  padding: 20px;
  column-fill: balance;
  column-count: 3;
  column-gap: 30px;
  /* height: 900px; */
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}

div.item_info{
  /* border: 1px solid grey; */
  background-color: white;
  height: 20rem;
  padding: 10px 15px;
}
div.column_item {
  /* border: 1px solid green; */
  margin-bottom: 6rem;
}

.stores h1{
  font-size: 3rem;
  border-left: 10px solid #DCAE72;
  margin-left: 8.5rem ;

  padding: 0 10px;
  color: white;
}

.column_item .item_info .title, .column_item .item_info p{
  border-bottom: 1px solid #1E464A;
  color: #0D1C32;
  padding: 10px 0;
  font-size: 1.4rem;
}
.column_item .item_info .title{
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 0;
  line-height: 2rem;
  border-bottom: 1px solid #1E464A;
  margin-bottom: 10px;
}
.column_item .item_info p{
  /* margin-top: 10px; */
  border-bottom: none;
}


/* 表單區塊 */
/* .container.fillform{
  border: 1px solid red;
  height: 900px;
  background-image: url(../images/contact_form_bg.jpeg);
  background: linear-gradient(white, #B5D9D5);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 2rem;
  margin-top: 6rem;
} */
.mymap h1{
  font-size: 3rem;
  border-left: 10px solid #DCAE72;
  padding: 0 10px;
  color: #0D1C32;
}

.mymap p{
  font-size: 1.6rem;
  /* border-left: 10px solid #DCAE72; */
  /* margin-left: 4rem ; */
  /* margin-bottom: 10rem; */
  padding: 20px 0;
  color: #0D1C32;
}
.grid-container{
  display: grid;
  /* border: 1px solid black; */
  height: 700px;
  /* background-image: url(./../images/leaf-rmbg.png), linear-gradient(white, #B5D9D5); */
  background-image: linear-gradient(white, white, #B5D9D5, #1E464A);
  background-repeat: no-repeat, no-repeat;
  /* background-size: ; */
  background-position: bottom left;
  grid-template-columns: 49% 49%;
  padding: 40px 10rem;
  /* gap: 40px; */

}
/* .grid-container{

} */
.grid-item.mymap iframe {
  border: 1px solid black;
  margin-top: 1rem;
  width: 80%;
  height: 80%
}

section.sec_form{
  /* border: 1px solid blue;  */
  height: 59rem;
  background-color: white;
  /* min-width: 600px;  */
  /* padding: 50px 20px;  */
  /* background-image: linear-gradient(white, #1E464A);  */
}

section.sec_form h1.title1{
  /* border: 1px solid black; */
  width: 60%;
  font-size: 3rem;
  border-left: 10px solid #DCAE72;
  padding: 0 10px;
  color: #0D1C32;
  /* text-align: center; */
  margin: 5rem 0 50px 7rem;
  /* border: 1px solid red; */
}
section.sec_form form.q_form{
  /* border: 1px solid gray; */
  margin:  0 auto;
  padding: 1rem 4rem 0 0;;
}
section.sec_form form.q_form div.item_block{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
section.sec_form form.q_form div.item_block label{
  font-size: 1.6rem;
  display: inline-block;
  vertical-align: middle;
  flex-basis: 100px;
  text-align: right;
  /* border: 1px solid orange; */
}
section.sec_form form.q_form div.item_block input,
section.sec_form form.q_form div.item_block select,
section.sec_form form.q_form div.item_block textarea,
section.sec_form form.q_form div.item_block button{
  display: inline-block;
  vertical-align: middle;
  padding: 8px 6px;
  font-size: 1.2rem;
  margin-left: 10px;
  flex-grow: 1;
  border: 1px solid lightgray;
}

section.sec_form form.q_form div.item_block.-text label{
  align-self: flex-start;
}
section.sec_form form.q_form div.item_block textarea{
  height: 100px;
  resize: none;
}
section.sec_form form.q_form div.item_block button{
  border: 0;
  cursor: pointer;
  background-color:#B5D9D5;
  color: #0D1C32;
  outline: none;
  box-shadow: 2px 2px 5px grey;
}
section.sec_form form.q_form div.item_block button:hover{
  background-color: #699F9C;
  color: white;
}
section.sec_form form.q_form div.item_block button:active{
  /* background-color: lightgray; */
  /* box-shadow: 0 0 3px black inset; */
  box-shadow: 0px 0px 8px black inset;
}
