/* *{
  outline: 1px solid red;;
} */
/* section.recommend_item {
  display: none;
} */

/* ================== 商品資訊區塊 =========================*/
section.shop_detail{
  /* border: 3px solid red; */
  margin-top: 8rem;
}

div.grid_container {
  /* border: 1px solid red; */
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 600px 600px;
}
@media (max-width: 768px) {
  div.grid_container {
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 50px;
  
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 576px) {
  div.grid_container {
    /* border: 1px solid red; */
    margin: 0 auto;
    /* margin-top: 120px; */
    margin-bottom: 50px;
  
    display: grid;
    grid-template-columns: 100%;
  }
}

div.grid_item {
  /* border: 1px solid blue; */
  padding: 40px 40px;
}
@media (max-width: 768px) {
  div.grid_item {
    /* border: 1px solid blue; */
    padding: 0;
  }
}
@media (max-width: 576px) {
  div.grid_item {
    /* border: 1px solid blue; */
    padding: 0;
  }
  div.grid_item:last-child {
    /* border: 1px solid red; */
  }
}

/* ============= 產品圖片區塊 ==============*/
div.grid_item:first-child {
  /* border: 3px solid green; */
  background-color: #b5d9d548;
}

.detail_photos {
  /* border: 3px solid #DCAE72; */
  display: block;
  padding: 20px;
}
.detail_photos img {
  border: 2px solid lightgray;
}

/* 大圖一張 */
.detail_photos .big_photo {
  /* border: 2px solid black; */
  width: 60%;
  margin:0 auto;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .detail_photos .big_photo {
    /* border: 2px solid black; */
    width: 100%;
    margin:0 auto;
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .detail_photos .big_photo img{
    border: 5px solid #DCAE72;
    width: 100%;
    margin:0 auto;
    margin-bottom: 1rem;
  }
}

/* 小圖三張區塊 */
.detail_photos .other_photo {
  display: flex;
  /* border: 2px solid black; */
  width: 63%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .detail_photos .other_photo {
    width: 100%;
  }
}
/* 小圖 */
.detail_photos .other_photo a.thumb_img {
  display: inline-block;
  /* border: 2px solid red; */
  width: 30%;
  margin: 0 auto;
}

section.sec1 div.flex_container {
  display: flex;
  /* border: 1px solid black; */
  width: var(--page-width);
  margin: 0 auto;
}

/* section.sec1 div.flex_container div.items{
    border: 1px solid blue;
  } */
section.sec1 div.flex_container div.items.-left {
  flex-basis: 300px;
  flex-shrink: 0;
}

section.sec1 div.flex_container div.items.-left div.img_block {
  border: 1px solid lightgray;
}

section.sec1 div.flex_container div.items.-left div.img_block>img {
  width: 100%;
}

/* ===================== 產品資訊 ========================== */
.product_info {
  border: 4px solid #EAF4F3;
  flex-grow: 1;
  padding-left: 50px;
  font-size: 1.6rem;
}

/* 產品名稱 */
.product_info h1.title1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  color: white;
  background-color: #1E464A;
  padding: 1rem;
}
@media (max-width: 768px) {
  .product_info h1.title1 {
    font-size: 2rem;
    color: white;
    background-color: #1E464A;
    padding: 1rem;
    line-height: 3rem;
  }
}
@media (max-width: 576px) {
  .product_info h1.title1 {
    font-size: 1.6rem;
  }
}


/* === 產品價格 === */
.product_info ul.desc_list {
  /* border: 2px solid blue; */
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;
}
@media (max-width: 768px) {
  .product_info ul.desc_list {
    padding: 0 1rem;
  }
}
@media (max-width: 576px) {
  .product_info ul.desc_list {
    padding: 0 0.5rem;
  }
}

/* 市價 */
.product_info ul.desc_list>li:nth-child(1) {
  /* border: 2px solid grey; */
  margin-bottom: 10px;
  color: gray;
}
@media (max-width: 768px) {
  .product_info ul.desc_list>li:nth-child(1) {
    font-size: 1.6rem;
  }
}
@media (max-width: 576px) {
  .product_info ul.desc_list>li:nth-child(1) {
    font-size: 1.4rem;
  }
}

.product_info ul.desc_list>li:nth-child(1)>span.original_price {
  text-decoration: line-through;
}

/* 售價 */
.product_info ul.desc_list>li:nth-child(2) {
  color: #DCAE72;
}

.product_info ul.desc_list>li:nth-child(2)>span.sell_price {
  font-weight: bold;
  font-size: 2.6rem;
}

/* 產品注意事項 */
.product_info p {
  /* border: 1px solid blue; */
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 2.4rem;
}
@media (max-width: 768px) {
  .product_info p {
    padding: 0 1rem;
    /* border: 1px solid blue; */
  }
}
@media (max-width: 576px) {
  .product_info p {
    padding: 0 0.5rem;
    /* border: 1px solid blue; */
  }
}

/* ================ 購買區塊 =====================*/
.product_info form.buy_form {
  /* border: 1px solid red; */
  margin-top: 10rem;
  padding: 10px;
  background-color: #eee;
}
@media (max-width: 768px) {
  .product_info form.buy_form {
    /* border: 1px solid red; */
    margin-top: 0;
    padding: 1rem;
    margin: 7rem 0.5rem 0.5rem;
  }
}

@media (max-width: 576px) {
  .product_info form.buy_form {
    /* border: 1px solid red; */
    margin-top: 3rem;
  }
}

/* 購買數量 */
.product_info div.item_block input.buy_count {
  display: inline-block;
  border: 1px solid lightgrey;
  width: 30.5%;
}
@media (max-width: 576px) {
  .product_info div.item_block input.buy_count {
    display: inline-block;
    width: 10%;
  }
}

.product_info div.item_block label.label_item,
.product_info div.item_block span.temp {
  display: inline-block;
  vertical-align: middle;
  /* border: 1px solid blue; */
  width: 85px;
}
@media (max-width: 768px) {
  .product_info div.item_block span.temp {
    display: none;
  }
}

.product_info div.item_block label.label_item {
  /* border: 1px solid black; */
  font-size: 1.4rem;
  margin: 5px 0;
}

/* 購買按鈕 */
.product_info div.item_block button[type="submit"] {
  padding: 4px 20px;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  width: 40%;
  background-color: #699F9C;
  color: white;
  margin: 5px 0;
}
@media (max-width: 768px) {
  .product_info div.item_block button[type="submit"] {
    width: 49%;
  }
}

.product_info div.item_block button[type="submit"]:hover {
  background-color: #88c8c5;
  color: #FFFFFB;
}

.product_info div.item_block button[type="submit"].addcart {
  /* border: 1px solid black; */
  background-color: #B5D9D5;
}

.product_info div.item_block button[type="submit"].addcart:hover {
  background-color: #caefeb;
}


.lower_line {
  content: '';
  border-bottom: 3px solid #699f9c63;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .lower_line {
    border-bottom: 1px solid grey;
    width: 95%;
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  .lower_line {
    display: none;
  }
}

/* =================== 推薦商品區塊 ==================== */
.recommend_item {
  /* border: 1px solid green; */
  width: 65%;
}
@media (max-width: 768px) {
  .recommend_item {
    /* border: 1px solid green; */
    width: 65%;
  }
}
@media (max-width: 576px) {
  .recommend_item {
    /* border: 1px solid green; */
    width: 100%;
  }
}

.recommend_item h1 {
  font-size: 1.6rem;
  text-align: center;
  color: #DCAE72;
  margin: 2rem;
}

/* 推薦產品-block */
.owl-item{
  /* border: 1px solid lightgrey; */
  padding: 1rem;
}
@media (max-width: 768px) {
  .owl-item{
    /* border: 1px solid lightgrey; */
    padding: 1rem;
  }
}
@media (max-width: 576px) {
  .owl-item{
    padding: 0;
  }
}

.owl-item .item {
  /* border: 1px solid lightgrey; */
  width: 100%;
  height: 22rem;
  background: #b5d9d556;
  margin: 20px auto;
  padding: 10px;
}
@media (max-width: 768px) {
  .owl-item .item {
    /* border: 1px solid red; */
    width: 100%;
    height: 18rem;
    background: #b5d9d556;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .owl-item .item {
    height: 16rem;
  }
}

/* 推薦產品-圖片 */
.owl-carousel .owl-item img {
  border: 2px solid #DCAE72;
  width: 100%;
  height: 150px;
  background-color: white;
}
@media (max-width: 768px) {
  .owl-carousel .owl-item img {
    /* border: 2px solid blue; */
    width: 100%;
    height: 10rem;
  }
}
@media (max-width: 576px) {
  .owl-carousel .owl-item img {
    /* border: 2px solid blue; */
    width: 100%;
    height: 8rem;
  }
}
.owl-item .item p {
  margin-top: 10px;
}

#owl .owl-nav {
  position: absolute;
  width: 100%;
  top: 18%;
}

#owl .owl-nav .owl-prev,
#owl .owl-nav .owl-next {
  position: absolute;
  width: 29px;
  height: 56px;
}

#owl .owl-nav button span {
  display: none;
}

#owl .owl-nav .owl-prev,
#owl .owl-nav .owl-next {
  top: 20px;
  background-size: 70%;
  background-repeat: no-repeat;
}

#owl .owl-nav .owl-prev:hover {
  background-color: white;
  background-image: url(../images/arrow-backward-pointed.png);
}

#owl .owl-nav .owl-next:hover {
  background-color: white;
  background-image: url(../images/arrow-forward-pointed.png);
}

#owl .owl-nav .owl-prev {
  left: -80px;
  background-image: url(../images/arrow-backward.png);
}

#owl .owl-nav .owl-next {
  right: -80px;
  background-image: url(../images/arrow-forward.png);
}