/* 商品資訊區塊 */
div.grid_container {
    /* border: 1px solid red; */
    width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: 600px 600px;
}

div.grid_item {
    /* border: 1px solid blue; */
    padding: 40px 40px;
}

div.grid_item:first-child {
    /* border: 3px solid green; */
    background-color: #b5d9d548;
}
.detail_photos {
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.detail_photos img {
  border: 2px solid lightgray;
}


.detail_photos #main_photo{
  /* border: 1px solid black; */
  margin-bottom: 30px;
}

section.sec1{
    /* border: 1px solid red; */
    min-width: var(--page-width);
    padding: 100px 0;
  }
  section.sec1 div.flex_container{
    display: flex;
    /* border: 1px solid black; */
    width: var(--page-width);
    margin: 0 auto;
  }
  /* section.sec1 div.flex_container div.items{
    border: 1px solid blue;
  } */
  section.sec1 div.flex_container div.items.-left{
    flex-basis: 300px;
    flex-shrink: 0;
  }
  section.sec1 div.flex_container div.items.-left div.img_block{
    border: 1px solid lightgray;
  }
  section.sec1 div.flex_container div.items.-left div.img_block > img{
    width: 100%;
  }
  .product_info{
    flex-grow: 1;
    padding-left: 50px;
    font-size: 1.6rem;
  }
  .product_info h1.title1{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    color: #0D1C32;
  }
  .product_info ul.desc_list{
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
  }
  .product_info ul.desc_list > li:nth-child(1){
    margin-bottom: 10px;
    color: gray;
  }
  .product_info ul.desc_list > li:nth-child(1) > span.original_price{
    text-decoration: line-through;
  }
  .product_info ul.desc_list > li:nth-child(2){
    color: #DCAE72;
  }
  .product_info ul.desc_list > li:nth-child(2) > span.sell_price{
    font-weight: bold;
    font-size: 2.6rem;
  }

  .product_info p{
    /* border: 1px solid blue; */
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .product_info form.buy_form{
    /* border: 1px solid red; */
    margin-top: 20px;
    padding: 10px;
    background-color: #eee;
    position: relative;
    top: 38.5%;
  }
  .product_info div.item_block{
    margin-bottom: 10px;
  }
  .product_info div.item_block:last-child{
    margin-bottom: 0;
  }
  .product_info div.item_block input.buy_count{
    padding: 2px 0 3px;
    vertical-align: middle;
    margin: 5px 0;
  }
  .product_info div.item_block label.label_item,
  .product_info div.item_block span.temp{
    display: inline-block;
    vertical-align: middle;
    /* border: 1px solid blue; */
    width: 85px;
  }
  .product_info div.item_block label.label_item{
    /* border: 1px solid black; */
    font-size: 1.4rem;
    margin: 5px 0;
  }

  .product_info div.item_block button[type="submit"]{
    padding: 2px 20px;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    width: 150px;
    height: 30px;
    background-color: #699F9C;
    color: white;
    margin: 5px 0;
  }

  .product_info div.item_block button[type="submit"].addcart{
    /* border: 1px solid black; */
    background-color: #B5D9D5;
  }

.lower_line{
    content: '';
    border-bottom: 3px solid #699f9c63;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
/* 推薦商品區塊 */
.recommend_item {
  /* border: 1px solid green; */
  width: 65%;
}

.recommend_item h1{
  font-size: 1.6rem;
  text-align: center;
  color: #DCAE72;
  margin: 2rem;
}
.owl-item .item {
  border: 1px solid lightgrey;
  width: 150px;
    height: 200px;
    background: #b5d9d556;
    margin: 20px auto;
    padding: 10px;
}
.owl-item .item img{
  border: 2px solid #DCAE72;
  /* width: 100px; */
  height: 130px;
  background-color: white;
}

.owl-item .item p {
  margin-top: 10px;
}
#owl .owl-nav {
  position: absolute;
  width: 100%;
  top: 18%;
}

#owl .owl-nav .owl-prev, #owl .owl-nav .owl-next {
  position: absolute;
  width: 29px;
  height: 56px;
}

#owl .owl-nav button span {
  display: none;
}

#owl .owl-nav .owl-prev, 
#owl .owl-nav .owl-next{
  top: 20px;
  background-size: 70%;
  background-repeat: no-repeat;
}

#owl .owl-nav .owl-prev:hover{
  background-color: white;
  background-image: url(../images/arrow-backward-pointed.png); 
}

#owl .owl-nav .owl-next:hover{
  background-color: white;
  background-image: url(../images/arrow-forward-pointed.png); 
}
#owl .owl-nav .owl-prev {
  left: -80px;
  background-image: url(../images/arrow-backward.png); 
}

#owl .owl-nav .owl-next {
  right: -80px;
  background-image: url(../images/arrow-forward.png);
}

