header.header{
  /* border: 1px solid black; */
  width: 100%;
  /* background-color: var(--bg-color); */
  min-width: var(--page-width);
  backdrop-filter: blur(10px);
  background-color: #1e464aad;
  position: fixed;
  top: 0;
  z-index: 2000;
  /* min-width: 600px; */
  /* position: fixed; */
}

.header .container{
  position: static;
}

.navbar{
  display: flex;
  justify-content: flex-end;
  height: 8rem;
}

.navbar .logo{
  display: block;
  position: absolute;
  left: 16px;
  height: 65.5%; /* 80px*/
}

.navbar .logo img{
  height: 100%;
}
/* 導覽列 */
div.block nav.nav{
  display: flex;
  /* border: 1px solid blue; */
  width: 100%;
  height: 100px;
  margin: 0 auto;
  justify-content: space-between;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.-on{
  border-bottom: 3px solid #DCAE72;
  border-radius:  1px;
  color: #b5d9d5;
  padding-bottom: 10px;
}

nav a.logo, ul.nav_list{
  align-self: center;
}

ul.nav_list{
  /* border: 1px solid red; */
  margin-right: 50px;
  width: 700px;
  min-width: 00px;
  display: flex;
  list-style: none;
  justify-content: space-around;
  /* align-content: center; */
}

ul.nav_list li > a{
  /* border: 1px solid black; */
  color: white;
  /* width: 100%; */
  font-size: 1.6rem;
  text-decoration: none;
}
ul.nav_list li > a:hover{
  border-bottom: 3px solid #DCAE72;
  border-radius:  1px;
  color: #b5d9d5;
  padding-bottom: 10px;
}
li.cart > a > img{
  width: 20px;
}
